html{
    font-family: var(--fonte-padrao);
}

body{
    background-color: var(--cor-de-fundo);
}

.header{
    margin: 10px;
    padding: 5px;
}

.header .cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    max-width: 170px;
}

.header .nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header .nav ul li {
    font-size: 18px;
    font-family: var(--fonte-titulo);
    font-weight: 300;
    transition: 0.3s;
}

.header .nav ul li a{
    padding: 10px;
}

.header .nav ul li a:hover{
    background-color: var(--rosa-claro);
    color: #000;
    border-radius: 30px;
}

@media(max-width: 768px){
    .header .cabecalho{
        flex-direction: column;
        padding: 5px;
    }
}

.main .inicio{
    display: flex;
    padding: 55px;
    justify-content: space-around;
    align-items: center;
    background: url(../imagens/bg-desktop.png) center center no-repeat;
    background-size: cover;
    position: relative;
    flex-wrap: wrap;
}

.main .inicio:after{
    content: url('../imagens/seta-rosa.png');
    position: absolute;
    height: 35px;
    bottom: 20px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
    0% { -webkit-transform: translateY(0); opacity: 0.4;}
    100% { -webkit-transform: translateY(0.4em); opacity: 0.9;}
}

.main .foto-perfil{
    border-radius: 50px;
    max-width: 100%;
    width: 400px;
}

.main .foto-perfil, .main .mensagem{
    max-width: 50%;
}

.main .mensagem h1{
    font-size: 35px;
    font-family: var(--fonte-titulo);
    font-weight: 600;
    padding: 20px 0 15px 0;
    text-align: center;
}

.main .mensagem p{
    font-size: 25px;
    font-weight: 500;
    text-align: justify;
}

.main .mensagem .skills{
    padding: 20px 0;
    text-align: center;
}

.main .mensagem .skills img{
    max-width: 100px;
    margin: 20px;
}

@media (max-width: 768px){
    .main .inicio {
        flex-direction: column;
        background-image: url(../imagens/bg-mobile.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 15px;
        gap: 15px;
    }

    .main .inicio .mensagem{
        max-width: 80%;
    }
}

/*Sobre Mim*/

.main .sobre{
    display: flex;
    margin: 20px;
    padding: 25px;
    justify-content: space-around;
    align-items: center;
    height: auto;
    max-width: 90%;
}

.main .sobre .sobre-mim{
    max-width: 80%;
}

.main .sobre .sobre-mim h2, .main .servicos h2, .main .projetos h2{
    font-family: var(--fonte-titulo);
    font-size: 30px;
    font-variant: small-caps;
    padding: 5px 0 15px;
}

.main .sobre .sobre-mim p{
    padding: 5px 15px;
    text-align: justify;
    text-indent: 10px;
    font-size: 20px;
}

.main .sobre img{
    max-width: 400px;
    padding-left: 20px;
}

@media(max-width: 768px) {
    .main .sobre{
        flex-direction: column;
        text-align: center;
    }

    .main .sobre img{
        max-width: 80%;
    }

    .main .sobre .sobre-mim{
        padding-bottom: 15px;
    }
}

.main .servicos{
    padding: 30px;
    background-image: url(../imagens/bg-desktop.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
}

.main .servicos ul{
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 30px;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}

.main .servicos ul li{
    width: 90%;
    max-width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    margin: 10px 0;
    background-color: var(--detalhes);
    border-radius: 10%;
}

.main .servicos ul li img{
    max-width: 60px;
    padding: 5px;
}

.main .servicos ul li h3{
    font-size: 20px;
    padding: 15px;
    font-family: var(--fonte-titulo);
    font-weight: 500;
    text-align: center;
}

.main .servicos ul li p{
    margin: 5px;
    font-size: 18px;
    text-align: justify;
}

@media(max-width: 768px){
    .main .servicos{
        background-image: url(../imagens/bg-mobile.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .main .servicos h2{
        text-align: center;
    }
    
    .main .servicos ul {
        flex-direction: row;
        align-items: center;
    }
}

.main .projetos{
    margin: 40px auto;
    padding: 15px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.main .projetos .trabalhos{
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.main .projetos .sites{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    max-width: 90%;
    height: auto;
}

.main .projetos .sites img{
    max-width: 100%;
    width: 200px;
    border-radius: 20px;
    padding: 10px;
}

.main .projetos .sites .descricao-projeto{
    font-size: 18px;
    font-family: var(--fonte-titulo);
    font-weight: 400;
}

.main .projetos .sites a{
    padding: 10px;
    transition: 0.3s;
    margin: 5px;
}

.main .projetos .sites a:hover{
    background-color: var(--rosa-claro);
    cursor: pointer;
    border-radius: 10px;
    color: #000;
}

@media(max-width: 768px) {
     .main .projetos h2{
        text-align: center;
    }
}

.main .mensagem-final{
    max-width: 600px;
    margin: 50px auto;
    padding: 40px 20px;
    font-size: 20px;
    font-family: var(--fonte-titulo);
    text-align: center;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.397);
    background-color: var(--detalhes);
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgba(255, 255, 255, 0.544);
}

.contato{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 10px 20px;
}

.contato img{
    max-width: 150px;
}

.contato .redes a{
    font-size: 25px;
    border-radius: 5px;
    padding: 5px;
    transition: 0.3s ease-in-out;
}

.contato .redes a:hover{
    font-size: 27px;
}